{{! PEP257  Docstring Template }}
{{summaryPlaceholder}}

{{#parametersExist}}
Arguments:
{{#argsExist}}
{{#args}}
    {{var}}: {{descriptionPlaceholder}}
{{/args}}
{{/argsExist}}
{{#kwargsExist}}
{{#kwargs}}
    {{var}}: {{descriptionPlaceholder}} (default {{&default}})
{{/kwargs}}
{{/kwargsExist}}
{{/parametersExist}}

{{#exceptionsExist}}
Raises:
{{#exceptions}}
    {{type}}: {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}

{{#yieldsExist}}
Yields:
{{#yields}}
    {{type}}: {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}

{{#returnsExist}}
Returns:
{{#returns}}
    {{type}}: {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}
